DjvuApp.Universal/SampleData/OutlineSampleDataSource/OutlineSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.OutlineSampleDataSource" targetNamespace="Blend.SampleData.OutlineSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OutlineSampleDataSource" type="tns:OutlineSampleDataSource" />
  <xs:complexType name="OutlineSampleDataSource">
    <xs:sequence>
      <xs:element name="Items" type="tns:Items" />
    </xs:sequence>
    <xs:attribute name="Title" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Items">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ItemsItem" type="tns:ItemsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemsItem">
    <xs:attribute blend:FormatParameters="7,12" name="Title" type="xs:string" />
  </xs:complexType>
</xs:schema>