DjvuApp/SampleData/SelectBookmarkDialogSampleDataSource/SelectBookmarkDialogSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.SelectBookmarkDialogSampleDataSource" targetNamespace="Blend.SampleData.SelectBookmarkDialogSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SelectBookmarkDialogSampleDataSource" type="tns:SelectBookmarkDialogSampleDataSource" />
  <xs:complexType name="SelectBookmarkDialogSampleDataSource">
    <xs:sequence>
      <xs:element name="Items" type="tns:Items" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Items">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ItemsItem" type="tns:ItemsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemsItem">
    <xs:attribute name="Title" type="xs:string" />
    <xs:attribute blend:FormatParameters="3" name="PageNumber" type="xs:double" />
  </xs:complexType>
</xs:schema>