DjvuApp.Universal/SampleData/MainPageSampleDataSource/MainPageSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.MainPageSampleDataSource" targetNamespace="Blend.SampleData.MainPageSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MainPageSampleDataSource" type="tns:MainPageSampleDataSource" />
  <xs:complexType name="MainPageSampleDataSource">
    <xs:sequence>
      <xs:element name="Books" type="tns:Books" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Books">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="BooksItem" type="tns:BooksItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BooksItem">
    <xs:attribute name="Title" type="xs:string" />
    <xs:attribute blend:Format="Date" name="LastOpeningTime" type="xs:string" />
  </xs:complexType>
</xs:schema>